html {
    min-height: 100%;
    overflow: overlay;
}

#header-link-index {
    display: block;
    height: 95%;
    width: 50%;
    padding-bottom: 0px;
    border-bottom: 3px solid #fFF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    background-color: #000;
    height: 1px;
    width: 100%;
}


/*#region banner*/

.banner {
    margin: 67px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*#endregion*/


/*#region news*/

.news-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 189px;
}

.news-box>h2 {
    font-size: 2rem;
    margin: 30px 0;
}

.news-box-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 102px;
}

.news-box-container-item {
    display: flex;
    justify-items: center;
    gap: 24px;
}


/*#region img*/

.slideshow-box-img {
    display: flex;
    height: 450px;
    width: 800px;
    overflow: hidden;
    gap: 0;
}

.slideshow-box-img-content {
    height: 100%;
    width: 100%;
    position: relative;
    background: #cacaca;
}


/* Fading animation */

.fadein {
    animation-name: fadein;
    animation-duration: 1.5s;
}

@keyframes fadein {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

.fadeout {
    animation-name: fadeout;
    animation-duration: 1.5s;
}

@keyframes fadeout {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}


/*#endregion img*/

.slideshow-box-text {
    display: flex;
    width: 400px;
    overflow: hidden;
}

.slideshow-box-text-content {
    position: relative;
    min-width: 100%;
    /* background: #cacaca; */
    text-align: center;
}

.flex-R2L {
    flex-direction: row-reverse;
}


/*#endregion news*/