.liver-box {
    margin: 180px 83px;
    display: flex;
    gap: 160px 83px;
    flex-wrap: wrap;
}

.liver-box-item {
    position: relative;
}

.odd-offset {
    bottom: 30px;
}

.even-offset {
    top: 30px;
}

.liver-box-item-img {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    /* background-color: #b9b9b9; */
}


/*#region liver-name-display*/


/*hacky~~~~ */

.liver-box-item-text-left {
    position: absolute;
    left: 247px;
    top: 27px;
    z-index: -1;
}

.liver-box-item-text-left>span {
    width: 272px;
    position: absolute;
    right: 0;
    top: -64px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 64px;
}

.liver-box-item-text-right {
    position: absolute;
    left: -320px;
    top: 210px;
    z-index: -1;
}

.liver-box-item-text-right>span {
    width: 272px;
    position: absolute;
    font-size: 1.5rem;
    text-align: center;
    line-height: 64px;
}


/*#endregion liver-name-display*/