@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');
html {
    height: 100%;
    box-sizing: border-box;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    overflow: overlay;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}


/*#region header*/

header {
    background: #F87A2E;
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
}

.header-divider {
    background: #FFF;
    width: 3px;
    height: 20;
}

.header-link {
    display: flex;
    justify-content: center;
    width: 33%;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #FFF;
}


/*#endregion*/


/*#region main*/

main {
    flex: 1 0 auto;
}


/*#endregion*/


/*#region footer*/

footer {
    background: #F87A2E;
    height: 2rem;
    flex-shrink: 0;
    text-align: center;
    line-height: 2rem;
    color: #fff;
}


/*#endregion*/