.liver-img {
    transition: .3s ease;
    background-color: #C4C4C4;
}

.liver-img:hover {
    background-color: #8D8D8D;
}

.icon-link {
    transition: .3s ease;
    opacity: 1;
}

.icon-link:hover {
    opacity: 0.6;
}