main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-link-liver-picker {
    display: block;
    height: 95%;
    padding-bottom: 0px;
    border-bottom: 2px solid #fFF;
}

.display-box {
    width: 100%;
    height: 624px;
    background: #000;
}

.quiz-box {
    height: 360px;
}